
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
</head>
<body>
    <center> 
        <h1>
            Page not Found!! <a href="@Url.Action("Index","Home")" >Go to Home- Click here</a> 
        </h1>
    </center>
</body>
</html>
